/* --------- GENERAL SETTING ------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: #000c04;
  background-color: #fff;
}

.bg-green {
  background-color: #189a46;
}

.color-green {
  color: #189a46;
}

.rounded-10px {
  border-radius: 10px;
}

.sub-heading {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 1px;
  color: #f53626;
}

.heading {
  color: black;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: #696969;
  margin: 15px 0 35px 0;
}

button:focus {
  outline: none;
}

p {
  font-size: 1.2em;
}

a,
a:hover {
  color: #696969;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --------- HEADER ------------*/
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header.nav-fixed {
  padding-bottom: 0;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
  padding: 0;
  transition: all 0.5s ease;
  line-height: 30px;
}
.navbar-light .navbar-brand {
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  color: #189a46;
}
.navbar-light .navbar-brand:hover {
  color: #189a46;
}
.nav-item {
  padding: 10px;
}
.navbar .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
}

.navbar-light .navbar-nav .nav-link {
  color: #000c04;
}
.collapse {
  display: flex;
  align-items: center;
}

.navbar .search {
  font-size: 16px;
  line-height: 25px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  padding: 0;
  text-align: center;
  display: inline-block;
  background-color: rgba(147, 107, 232, 0.05);
  color: #189a46;
  transition: all 0.5s ease;
}

.search:hover {
  color: #fff;
  background: #189a46;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #189a46;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown i {
  padding-left: 5px;
  font-size: 10px;
  color: #999;
}

.dropdown-menu {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ddd;
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
  transform: translateX(-50px) translateY(-10px);
}
.navbar-light .navbar-nav .dropdown-menu::after {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #ddd;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 10;
}

header .nav-link {
  overflow: hidden;
}
.dropdown-item {
  width: fit-content;
}
.dropdown-item:hover {
  background-color: transparent;
}
header a.nav-link::before,
.active a.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #35a22c;
  bottom: 13px;
  transition: all 0.5s;
}

header .nav-link:hover::before {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #189a46;
}
#screenmode {
  line-height: 10px;
  margin-left: 10px;
}

/* header search pop up */
.pop-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  background: #000000ba;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}
.pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.search-popup {
  position: relative;
  margin: 0rem auto;
  padding: 15px;
  top: 50%;
  max-width: 600px;
}

.search-popup form input[type="search"] {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000;
  height: 55px;
  padding: 15px 20px 12px;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-right: none;
}
.search-popup form button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  border: none;
  background: #189a46;
  padding: 0 25px;
  border-left: none;
  border-radius: initial;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.search-popup .close {
  position: absolute;
  right: 20px;
  top: -50px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

.search-popup .close:hover {
  opacity: 1;
}

button.navbar-toggler .icon__expand {
  display: none;
}
button.navbar-toggler .icon__close {
  display: block;
}

button.navbar-toggler.collapsed .icon__expand {
  display: block;
}

button.navbar-toggler.collapsed .icon__close {
  display: none;
}
.navbar-light .navbar-toggler {
  border: none;
}
header .nav-search {
  display: none;
}
.navbar-toggler {
  padding: 0;
}
.icon__toogler {
  width: 33px;
  font-size: 22px;
  color: #fff;
  background-color: #189a46;
  border-radius: 2px;
}
.header-fixed-space-height {
  margin-top: 90px;
}
/* --------- CAROUSEL ------------*/

#carousel .item {
  background: url(./image-video/banner1.jpg);
  background-size: cover;
  min-height: calc(100vh - 90px);
  position: relative;
  display: grid;
  align-items: center;
  padding: 48px 0;
}

#carousel .item__2 {
  background: url(./image-video/banner2.jpg);
  background-size: cover;
}

.banner__content {
  position: relative;
  z-index: 1;
}
.banner__info {
  max-width: 700px;
}

.banner .item::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(12, 12, 12, 0.6);
}
.banner__info h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.banner__info p {
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.9;
}
.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}
.btn-white {
  background-color: #fff;
  color: #189a46;
}
.btn:hover {
  color: #189a46;
  text-decoration: none;
}
.border-btn {
  border: 2px solid #fff;
  color: #fff;
}
.border-btn:hover {
  background-color: #fff;
  color: #189a46;
}

#carousel .owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}
/* --------- ABOUT ------------*/
#about p {
  font-size: 1.2em;
  line-height: 28px;
}
.about__content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  color: #000c04;
}
a.read:hover {
  color: #189a46;
}
/* SERVICE  */
#service {
  background-color: #f8f9fa;
}
.box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}
.box__title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #000c04;
  display: block;
}
.box p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.box__icon i {
  font-size: 30px;
  color: #189a46;
}
.box a {
  transition: all 0.5s ease;
}
.box a:hover {
  color: #189a46;
  text-decoration: none;
}
.box:hover {
  background: rgba(147, 107, 232, 0.05);
}
/* --------- OFFER ------------*/

.offer__icon {
  color: #189a46;
  margin-right: 12px;
  background: rgba(147, 107, 232, 0.05);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
}

#offer ul li p {
  font-size: 16px;
}

/* --------- NUMBER ------------*/
.number__num {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
}

.number__text {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* --------- PLAN ------------*/
#plan {
  background-color: rgba(147, 107, 232, 0.05);
}

#plan .sub-heading {
  margin-bottom: 10px;
  text-transform: unset;
  font-size: 25px;
}

#plan .heading {
  margin-bottom: 48px;
}

.plan__card-wrapper {
  width: 90%;
  margin: auto;
}

.plan__card-left,
.plan__card-middle,
.plan__card-right {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}

.plan__card-left,
.plan__card-right {
  padding: 56px 40px;
}

.plan__card-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.plan__card-middle {
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  position: relative;
  z-index: 1;
}

.plan__card-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.plan__card-middle .plan__card-top {
  background-color: #189a46;
  width: 100%;
  padding: 48px 40px 8px;
}

.plan__card-middle .plan__card-bottom {
  padding: 32px 40px 56px;
}

.plan__card-middle.col-lg-4 {
  padding: 0;
}

.plan__card-top .plan__card-save {
  font-size: 15px;
  line-height: 20px;
  color: #189a46;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 10px;
}

.plan__card-top h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.plan__card-top p {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
  text-align: center;
  margin: 15px 0 20px;
}

.plan__card-top span {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: #189a46;
}

.plan__card-top label {
  font-size: 25px;
  vertical-align: text-top;
}

.plan__card-bottom ul:not(.different) {
  margin-bottom: 0;
  padding-top: 16px;
}

.plan__card-bottom ul li {
  margin-bottom: 5px;
  color: #696969;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  padding-top: 6px;
}

.plan__button {
  margin-top: 32px;
  background-color: #189a46;
  color: white;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  border: none;
  outline: #189a46;
}

.plan__button:hover {
  background-color: #116e32;
  border-color: #116e32;
}

.plan__button.different:hover {
  background-color: #189a46;
  border-color: #189a46;
}

.plan__button:focus {
  outline: #189a46;
}

/* --------- NUTRITION ------------*/

#nutrition .sub-heading {
  margin-bottom: 0;
  line-height: 2em;
}

#nutrition .heading {
  margin-bottom: 0;
}
.nutrition__wrapper {
  max-width: 950px;
  margin: auto;
}

#nutrition .content {
  font-size: 19px;
  margin: 0;
  padding: 0;
  line-height: 28px;
  margin-top: 16px;
}

.nutrition__play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nutrition__play-button i {
  width: 55px;
  height: 55px;
  background-color: white;
  text-align: center;
  line-height: 55px;
  color: #189a46;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

.nutrition__play-button i:hover {
  scale: 1.1;
}

.pop-up-video {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  z-index: 2000;
  opacity: 0.95;
}

.pop-up-video > div {
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.pop-up-video > div div {
  width: 100%;
  height: 400px;
}

.pop-up-video iframe {
  width: 100%;
  height: 400px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop-up__iframe {
  width: 100%;
  height: 100%;
}

.button__close {
  line-height: 40px;
  right: 0;
  top: -40px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  background-color: transparent;
  border: none;
  outline: none;
}

.button__close:focus {
  border: none;
  outline: none;
}

.prohibited-scroll {
  overflow: hidden;
}
/* THAOHUYNH */

html,
body .ThaoHuynh {
  color: #696969;
}

.ThaoHuynh section {
  padding: 3rem 0;
}

/* ============================================================
=============================================================*/
/* TESTI */
#testi {
  background-color: rgba(147, 107, 232, 0.05);
}

.testi__title {
  text-align: center;
}

.testi__item {
  background-color: #fff;
  padding: 80px 30px 40px;

  border-radius: 10px;
  border: none;

  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);

  position: relative;
}

.testi__quote blockquote {
  margin: 0 1.5rem 1.5rem;
}

.testi__quote blockquote {
  color: #696969;
  font-size: 1.2em;
  line-height: 28px;
}

.testi__quote blockquote q {
  quotes: initial;
}

.testi__quote blockquote q::before {
  color: #189a46;
  font-family: "Alex Brush", serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 0;

  position: relative;
  transform: translateY(10px);

  display: inline-block;
}

.testi__content {
  max-width: 1050px;
  margin: 0 auto;
}

.testi__content.owl-carousel .owl-item img {
  width: 70px;
  height: 70px;
  margin-right: 20px;

  border-radius: 50%;

  display: block;
}

.testi__tag h3 {
  color: black;
  font-weight: 600;
  font-size: 20px;

  margin: 0;
}

.testi__tag span {
  color: #777;
  font-size: 17px;
  text-align: left;

  opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot span {
  transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #189a46;
  width: 30px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 60px;
}

/* ============================================================
=============================================================*/
/* CONTACT */
.contact__content {
  text-align: center;
  width: 60%;
}

.contact__form {
  margin-top: 3rem;
}

.contact__form input {
  background: #fff;

  font-size: 1rem;

  height: 60px;
  padding: 0 20px;

  border: 1px solid #ced4da;
  border-radius: 10px;

  flex-basis: 70%;

  transition: all 0.5s;
}

.contact__form input:focus-visible {
  border: 1px solid #189a46;
  outline: none;
}

.contact__form button {
  font-size: 18px;

  height: 60px;
  padding: 0 20px;

  border-radius: 10px;

  flex-basis: 27%;

  transition: all 0.5s;
}
#contact .contact__form button:hover {
  color: #fff;
}
/* ============================================================
=============================================================*/
/* FOOTER */
footer {
  background-color: #151515;

  padding-top: 50px;
  margin-bottom: 30px;
}

.footer__item h4 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;

  margin-bottom: 25px;
}

.footer__item ul li {
  line-height: 28px;
}

.footer__item ul li span {
  font-weight: 700;
}

.footer__item a {
  transition: all 0.5s;
}

.footer__item a:hover {
  color: white;

  text-decoration: underline;
}

.footer__item .footer__social {
  gap: 20px;
  padding-top: 20px;
}

.footer__bottom {
  margin-top: 50px;
}

.footer__bottom p {
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  padding: 1.5rem 0;
  margin-bottom: 0;

  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.footer__bottom a {
  color: #f53626;
}

.footer__bottom a:hover {
  text-decoration: underline;
}
/* ============================================================
=============================================================*/
/* BACKTOTOP */

.toTop a i {
  color: white;
}

.toTop .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.toTop .cd-top {
  background-color: #189a46;

  text-align: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  position: fixed;
  right: 15px;
  bottom: 60px;
  z-index: 1;
  transition: all 0.5s;
}

.toTop .cd-top:hover {
  bottom: 70px;
}

.toTop .cd-top i {
  color: white;
  font-size: 14px;
  line-height: 50px;
}

/* ============================================================
=============================================================*/
/* SCREEN MODE */
#sreenmode {
  width: 60px;
}
#switchButton {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin: 0 20px;
  border: transparent;
  background-color: transparent;
  color: #404040;
}

#switchButton i {
  font-size: 30px;
}

#switchButton .gg-sun {
  display: none;
}

#switchButton .gg-moon {
  display: block;
}

#switchButton:focus {
  outline: none;
}

/* ============================================================
=============================================================*/
/* darkmode */
.dark #offer p.content {
  color: #696969;
}
.dark header {
  background: #151515;
}
.dark#myBody {
  background-color: #151515;
  color: #afafaf;
}

.dark h3 {
  color: white;
}
.dark .nav-link {
  color: #fff;
}

.dark ul li {
  color: #afafaf;
}

.dark .heading {
  color: #ddd;
}

.dark .content {
  color: #afafaf;
}
.dark .box a {
  color: white;
}
.dark .navbar-light .navbar-nav .nav-link {
  color: #ddd;
}
.dark .navbar-light .navbar-brand {
  color: #189a46;
}
.dark .navbar-light .navbar-nav .active > .nav-link {
  color: #189a46;
}
.dark .navbar-light .navbar-nav .nav-link:hover {
  color: #189a46;
}
.dark .navbar-nav .dropdown-menu {
  border: 1px solid #333;
  background-color: #151515;
}
.dark .navbar-expand-lg .navbar-nav .dropdown-menu::after {
  content: "";
  width: 14px;
  height: 14px;
  background: #151515;
  border: 1px solid #333;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 10;
}

.dark .dropdown-item {
  color: #151515;
}

.dark .dropdown-item:hover {
  background-color: transparent;
}
.dark .box p {
  color: #afafaf;
}
.dark .box {
  background-color: #151515;
}
.dark .box:hover {
  background: #222;
}
.dark a.read {
  color: #ddd;
}
.dark a.read:hover,
.box a:hover {
  color: #189a46;
}

.dark #switchButton .gg-sun {
  color: #333;
  display: block;
}

.dark #switchButton .gg-moon {
  display: none;
  color: #404040;
}
.dark #testi,
.dark #plan,
.dark #service {
  background-color: #222;
}
.dark #header {
  background-color: #151515 !important;
}

.dark #contact {
  background-color: #151515;
}

.dark .offer__icon {
  background-color: #222;
}

.dark #offer ul li p {
  color: white;
}

.dark .plan__card-left,
.dark .plan__card-middle,
.dark .plan__card-right {
  background-color: #151515;
}

.dark .testi__item {
  background-color: #151515;
}

.dark .testi__tag h3 {
  color: white;
}

.dark #contact p.title {
  color: #afafaf;
}

.dark #footer {
  background: #111;
}

.dark .footer__item li,
.dark .footer__item li span,
.dark .footer__bottom p {
  color: #696969;
}
/* --------- RESPONSIVE ------------*/
/* header  */

@media screen and (max-width: 1366px) {
  .plan__card-wrapper {
    width: 90%;
  }
  #carousel .banner__info h5 {
    font-size: 52px;
    line-height: 62px;
  }
}

@media screen and (max-width: 1080px) {
  .heading {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 991.98px) {
  .pop-overlay {
    z-index: 1500;
  }
  header {
    padding: 15px 0;
    height: fit-content;
  }
  .header-fixed-space-height {
    margin-top: 80px;
  }
  header .nav-search {
    display: flex;
    justify-content: left;
    margin: 20px 0;
  }
  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }
  #screenmode {
    position: absolute;
    right: 36px;
    top: 13px;
  }
  .navbar-nav {
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }
  .dropdown {
    display: block;
    justify-content: center;
    position: relative;
  }
  .dropdown i {
    position: absolute;
    right: 6px;
    top: 10px;
  }
  .icon__expand,
  .icon__close {
    color: #fff;
    line-height: 34px;
    background-color: #189a46;
    border-radius: 5px;
  }
  .dropdown-menu {
    width: auto;
    transform: translateX(0) translateY(10px);
    position: static;
    float: none;
  }
  .dropdown-item {
    line-height: 16px;
    width: auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .nav-item {
    line-height: 10px;
  }
  header .nav-link::before,
  .active .nav-link::before {
    display: none;
  }
  .collapse {
    flex-direction: column;
  }

  .search__left {
    width: 100%;
    display: block;
    text-align: left;
    margin: 15px 0;
  }

  #carousel .banner__info h5 {
    font-size: 48px;
    line-height: 55px;
  }

  #offer img {
    width: 100%;
  }

  .number__num {
    font-size: 40px;
    line-height: 50px;
  }

  .number__text {
    font-size: 18px;
  }

  .plan__card-wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .plan__card-left,
  .plan__card-right {
    border-radius: 6px;
    width: 414px;
  }

  .plan__card-left {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .plan__card-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .plan__card-middle {
    width: 426.42px;
  }

  .contact__content {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  #screenmode {
    position: absolute;
    right: 40px;
    top: 10px;
  }
  .plan__card-wrapper {
    width: 60%;
    margin: 50px auto 0;
  }

  .plan__card-left,
  .plan__card-right {
    border-radius: 6px;

    border: 1px solid #f0f3f0;
  }

  .dark .plan__card-left,
  .dark .plan__card-right {
    border-radius: 6px;

    border: 1px solid #444;
  }
}

@media screen and (max-width: 767.98px) {
  .banner__info p {
    font-size: 16px;
  }
  .plan__card-wrapper {
    width: 75%;
  }

  .contact__content {
    width: 100%;
  }

  .contact__form input {
    width: 100%;
    height: 60px;

    display: block;
  }

  .contact__form button {
    height: 60px;
    padding: 0 35px;
  }

  .footer__item {
    margin: 15px 0;
  }
}

@media screen and (max-width: 737px) {
  .number__num {
    font-size: 35px;
    line-height: 38px;
    margin-top: 20px;
  }

  .number__text {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  #carousel .item {
    background-position: left;
    min-height: 500px;
  }
  .heading {
    font-size: 32px;
    line-height: 35px;
  }
}
@media (max-width: 575.98px) {
  .contact__form button {
    width: 100%;
    height: 60px;
    margin-top: 20px;

    display: block;
  }
}
@media screen and (max-width: 568px) {
  .plan__card-wrapper {
    grid-gap: 20px;
    margin: 30px auto;
  }
}

@media screen and (max-width: 480px) {
  #carousel .item {
    min-height: 480px;
    background-position: left;
  }
  #carousel .banner__info h5 {
    font-size: 32px;
    line-height: 42px;
  }
  .plan__card-wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 440px) {
  #carousel .item {
    min-height: 440px;
  }
}

@media screen and (max-width: 415px) {
  .plan__card-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 387px) {
  .heading {
    font-size: 27px;
    line-height: 32px;
  }

  .plan__button {
    padding: 12px 30px;
  }
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

/* --------- KEYFRAME -  ANIMATION ------------*/
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
